<div class="p-6 max-w-6xl mx-auto">
    <div class="filter">
        <h1 class="text-2xl font-bold mb-4">Gestión de Tareas</h1>
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Filtrar
            estado</label>
        <select [(ngModel)]="filtroEstado" (change)="filtrarTareas()" id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">Todos</option>
            <option value="pending">Pendiente</option>
            <option value="in-progress">En progreso</option>
            <option value="completed">Completado</option>
        </select>
    </div>
    <form class="max-w-sm mx-auto">
        <div class="mb-4 flex gap-2">
            <button (click)="abrirFormulario()" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
                Crear tarea
            </button>
        </div>
        <table class="min-w-full bg-white shadow-md rounded">
            <thead>
                <tr class="bg-gray-200 text-gray-600">
                    <th class="py-2 px-4 text-left">Título</th>
                    <th class="py-2 px-4 text-left">Descripción</th>
                    <th class="py-2 px-4 text-left">Estado</th>
                    <th class="py-2 px-4 text-left">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tareasFiltradas" class="border-t">
                    <td class="py-2 px-4">{{ task.title }}</td>
                    <td class="py-2 px-4">{{ task.description }}</td>
                    <td class="py-2 px-4">{{ task.status }}</td>
                    <td class="py-2 px-4">
                        <button (click)="editarTarea(task)" type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
                        <button (click)="eliminarTarea(task.id)" type="button"
                            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="mostrarFormulario" class="mt-6 p-4 bg-gray-100 rounded shadow">
            <h2 class="text-xl font-semibold mb-2">{{ tareaSeleccionada ? 'Editar Tarea' : 'Crear Tarea' }}</h2>
            <form (ngSubmit)="guardarTarea()">
                <input [(ngModel)]="formulario.title" name="title" required placeholder="Título"
                    class="mb-2 p-2 w-full border rounded" />
                <textarea [(ngModel)]="formulario.description" name="description" required placeholder="Descripción"
                    class="mb-2 p-2 w-full border rounded"></textarea>
                <select [(ngModel)]="formulario.status" name="status" required class="mb-4 p-2 w-full border rounded">
                    <option value="" disabled>Selecciona un estado</option>
                    <option value="pending">pendiente</option>
                    <option value="in-progress">en progreso</option>
                    <option value="completed">completado</option>
                </select>
                <div class="flex gap-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
                        {{ tareaSeleccionada ? 'Actualizar' : 'Crear' }}
                    </button>
                    <button type="button" (click)="cerrarFormulario()"
                        class="bg-gray-300 px-4 py-2 rounded">Cancelar</button>
                </div>
            </form>
        </div>
    </form>
</div>