.filter {
    background-color: var(--form-bg);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 600px;
  }